@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: $main-font;
    color: $main-text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}